* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Style the Image Used to Trigger the Modal */
#poster {
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
}

#poster:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* my css */
#causes,
#effects,
#prevention {
    font-size: 25px !important;
    font-weight: bold;
}

#main-heading {
    font-weight: bolder;
    margin-bottom: 30px;
}

#causes:target,
#effects:target,
#prevention:target {
    text-decoration: underline;
}

.bg-nav {
    background-color: #6673E6 !important;
}

.nav-link.active {
    color: #D9D9D9 !important;
    font-size: 1.3em;
    margin: 0 !important;
    padding-left: 0.5em;
}


.nav-link.active:hover {
    text-decoration: underline;
    background-color: #5462dd;
}

.navbar {
    height: 3rem !important;
    margin: 0 !important;
}

article {
    margin: 2em 3em;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.col-lg-3 {
    padding: 0;
}

.card {
    position: sticky !important;
    top: 10px;
    height: fit-content;
}

@media only screen and (max-width:992px) {
    .card {
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        margin-bottom: 10px;
        /* Added */
    }
}

@media only screen and (max-width:565px) {
    #main-heading {
        font-size: 30px !important;
    }
}

@media only screen and (max-width:375px) {
    .nav-link.active {
        font-size: 15px;
    }
    #main-heading {
        font-size: 23px !important;
    }
    #causes,
    #effects,
    #prevention {
        font-size: 20px !important;
    }
}

@media only screen and (max-width:285px) {
    .nav-link.active {
        font-size: 12px;
    }
}